# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
.env
instance/
.webassets-cache

# Flask
*.log

# Uploads & temp files
uploads/
temp/
*.pdf
*_compressed.pdf

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Render.com
.render-buildpacks
